@import 'tailwindcss';

/* Colors */
@theme {
  --font-primary: 'Hubot Sans';
  --gray-1: #fcfcfc;
  --gray-12: #1a1a1a;

  --violet-1: #faf5ff;
  --violet-12: #4c1d95;

  --slate-1: #f8fafc;
  --slate-12: #0f172a;

  --figure-bg: var(--slate-12);
  --body-bg: linear-gradient(to top, rgb(223, 233, 243) 0%, white 100%);
  --shadow-default: 0 25px 50px -12px var(--slate-4);
}

/* Dark theme colors */
@theme dark {
  --gray-1: #1a1a1a;
  --gray-12: #fcfcfc;

  --violet-1: #4c1d95;
  --violet-12: #faf5ff;

  --slate-1: #0f172a;
  --slate-12: #f8fafc;

  --figure-bg: var(--slate-12);
  --body-bg: var(--slate-12);
  --shadow-default: 0 25px 50px -12px var(--slate-1);
}

/* Global Styles */
body {
  background: var(--body-bg);
  transition: background 0.3s;
}
