blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
button,
input,
select,
textarea {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
embed,
iframe,
img,
object,
video {
    height: auto;
    max-width: 100%;
}
audio {
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
    text-align: left;
}

body,
html {
    font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
    background: #f4f4f4;
}

.main-title {
    font-size: 50px;
    margin-bottom: 15px;
}

.button {
    overflow: hidden;

    padding: 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    color: #fff;
    border: 0 none;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;

    appearance: none;

    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
}

@media(min-width:993px) {
    button {
        box-shadow: 2px 5px 10px #e4e4e4;
    }
}
button:hover {
    transition: all 150ms linear;

    opacity: 0.85;
}
button:active {
    transition: all 150ms linear;
    opacity: 0.75;
}
button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.-dark {
    background: #333;
}

.info-area {
    position: relative;
    left: -25px;
}
@media(min-width:993px) {
    .info-area {
        width: 50%;
        left: 100px;
    }
}

.hero-image {
    position: absolute;
    width: 90%;
    top: 50%;
    right: -200px;
    transform: translateY(-50%);
    box-shadow: 0 16px 48px rgba(45, 45, 45, 0.31);
    opacity: 0;

}
.hero-image img {
    border-radius: 6px;
}
@media(min-width:993px) {
    .hero-image {
        opacity: 1;
    }
}

.tracking-in-expand {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

