.socialIcons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: inline-flex;

  li {
    margin-right: 10px;
  }

  a {
    svg {
      width: 35px;
      height: 35px;
      color: #09203f;
    }
  }
}
