.infoAreaWrapper {
  position: relative;
  left: -25px;

  h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
    color: #09203f;
  }

  span {
    color: #5746af;
    background-color: #ede9fe;
  }

  @media (min-width: 993px) {
    width: 50%;
    left: 100px;

    p {
      max-width: 80%;
    }
  }
}

.portableText {
  p {
    line-height: 27px;
    margin-bottom: 15px;
    color: #000;
  }
}

.blogEntries {
  li {
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
  }
}

.trackingInExpand {
  :global(span) {
    color: #000;
  }

  :global(span.typed-cursor--blink) {
    opacity: 0;
    content-visibility: hidden;
  }
}
