@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-bodoni: 'Bodoni Moda', 'Bodoni Moda Fallback';
  --font-jost: 'Jost', 'Jost Fallback';
}

body,
html {
  @apply font-jost;
}

body:before {
  --cal: calc(8.3333333333% - 1px);
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  mix-blend-mode: difference;
  background: repeating-linear-gradient(
    to left,
    hsla(42, 33%, 94%, 0) 0 var(--cal),
    hsla(42, 33%, 94%, 0.15) var(--cal) calc(var(--cal) + 1px)
  );
  --to-opacity: 0.2;
  opacity: var(--to-opacity);
}
