blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
embed,
iframe,
img,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

body,
html {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}

body{
  position: relative;
  -webkit-text-size-adjust: 100%;
}

body:before{
  --cal: calc(8.3333333333% - 1px);
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    mix-blend-mode: difference;
    background: repeating-linear-gradient(to left, rgba(245, 242, 235, 0) 0 var(--cal), rgb(245 242 235 / 15%) var(--cal) calc(var(--cal) + 1px));
    --to-opacity: 0.2;
    opacity: var(--to-opacity);
}
